table {
	border: 10px solid red;
	background-color: pink;
	color: darkblue;
	font-size: 20px;
	width: 60px;
	height: 70px;

}

td {
	border: 3px solid green;
	padding: 10px;
	vertical-align: top;
	text-align: right;
}

th {
	border: 3px solid green;
}

table {
	border-collapse: collapse;
}

table {
	border-spacing: 10px;
}

caption {
	caption-side: bottom;
	text-align: right;
	font-weight: bold;
}

