
body {
	margin: 0;
	padding: 0;
	
	font-family: "Titillium Web", sans-serif;
	font-size: 18px;
	line-height: 20px;
	color: #ffffff;
	text-align: center;
}

.main-logo {
	display: block;
	text-align: left;
}

.visually-hidden {
	color: red;
}

table {
	border: 10px solid red;
	background-color: pink;
	color: darkblue;
	font-size: 20px;
	width: 60px;
	height: 70px;
	margin: auto;
}

td {
	border: 3px solid green;
	padding: 10px;
	vertical-align: top;
	text-align: right;
}

th {
	border: 3px solid green;
}

table {
	border-collapse: collapse;
}

table {
	border-spacing: 10px;
}

caption {
	caption-side: bottom;
	text-align: right;
	font-weight: bold;
}


.site-navigation {
	list-style: none;
	font-size: 16px;
	line-height: 18px;
}

.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #643a79;
}

 header{
	background-color: #87509c;
	}

h1 {
	font-size: 42.16px;
	line-height: 44px;
}

h2 {
	font-size: 40px;
	line-height: 42px;
}

h3 {
	font-size: 24px;
	line-height: 26px;
}

a {
	text-decoration: none;
	color: #ffffff;
}

.portfolio-item {
	color: #393939;
}

.button-work {
	background-color: #eb7d4b;
	padding: 10px;
}

.services {
	background-color: #17c2a4;
}

.services-list {
	list-style: none;
}

.services-item {
	font-size: 16px;
	line-height: 18px;
}

.team {
	background-color: #e7f1f8;
	color: #3c4761;
}

.team-listing {
	list-style: none;
}

ul {
	list-style: none;
}

.skills {
	background-color: #ffffff;
	color: #3c4761;
}

.portfolio {
	background-color: #ffdd99;
	color: #393939;
}

.portfolio-button a {
	color: #393939;
	background-color: #e5c37f;
}

.portfolio-button a:hover,
.portfolio-button a:focus {
	background-color: #ffffff;
}

.loadmore-button {
	background-color: #17c2a4;
}

.feedback {
	background-color: #d74680;
}

.hh {
	color: #ffdd99;
}

.hr {
	color: #30bae7;
	font-size: 16px;
	line-height: 18px;
}

.messaging {
	background-color: #3c5499;
}

.send-button {
	background-color: #30bae7;
}

.main-footer {
	background-color: #324b8e;
}

.hr-msg {
	font-size: 16px
	line-height: 18px;
}

.feedback-msg {
	font-size: 21px;
	line-height: 23px;
	font-style: italic;
}

.socials-list {
	font-size: 24px;
}

.socials-list a:hover,
.socials-list a:focus {
	color: #30bae7;
}

.visually-hidden {
	display: none;
}

 